@model IEnumerable<Inventory.Models.Movimiento>

@{
    ViewData["Title"] = "Controlador de Movimientos de Stock";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6 col-sm-6">
            <h3 class="text-dark"><span class="oi oi-transfer"></span> @ViewData["Title"]</h3>
        </div>
        <div class="col-lg-6 col-sm-6 text-right">
            <a asp-action="Create" class="btn btn-dark col-lg-3 col-sm-12">Crear Movimiento</a>
        </div>
    </div>

    <hr class="bg-warning" />
    <div class="table-responsive">
        <table class="table table-sm" id="tablaMov">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Id)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.ApplicationUser.Nombre)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TipoOperacion)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FechaMovimiento)
                    </th>
                    <th>Detalles</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>


@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $(document).ready(function () {
            $("#tablaMov").DataTable({
                pageLength: 10,
                destroy: true,
                dom: 'Bfrtip',
                processing: true,
                buttons: [
                    'csv', 'excel', 'pdf'
                ],
                ajax: {
                    url: "/User/Movimientos/GetMovements",
                    type: "GET",
                    datatype: "json",

                },
                "columns": [
                    { "data": "id" },
                    { "data": "applicationUser.nombre" },
                    { "data": "tipoOperacion" },
                    {
                        "data": "fechaMovimiento",
                        render: function (d) {
                            return moment(d).format("DD-MM-YYYY");
                        }
                    },
                    {
                        "mRender": function (data, type, row) {
                            var linkDetail = '<a href="Movimientos/Details/' + row.id + '" class="btn btn-outline-success btn-sm"><span class="oi oi-justify-center"></span></a>';
                            return linkDetail;
                        }
                    }
                ]
            });
        });
    </script>
}